<div class="row">
	<div class="col-sm-2">
		<h3 class="text-muted">
			Shopping list:
		</h3>
	</div>
	<div class-"form-inline" role="form">
		<%= form_tag(@list, method: "get", ) do %>
		<div class="form-group">
			<div class="col-sm-3">
				<%= text_field_tag :search, params[:search], autofocus: true, placeholder: "item name", class: "form-control" %>
			</div>
		</div>                  
		<div class="form-group">
			<%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
		</div>
		<% end %>
	</div>	
</div>	
<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Unit</th>
		<th>Quantity</th>
		<th>Price</th>
		<th>List type</th>
		<th>Item category</th>
		<th>Store</th>
		<th>Brand</th>
		<th>Identifier</th>
		<th>Action</th>
	</tr>
	<% @lists.each do |list| %>
	<tr>
		<td><%= link_to list.name, edit_list_path(list), class: "link" %></td>
		<td><%= list.unit.name %></td>
		<td><%= list.quantity %></td>
		<td><%= list.price %></td>
		<td><%= list.list_type.name %></td>
		<td><%= list.item_category.name %></td>
		<td><%= list.store.name %></td>
		<td><%= list.brand.name %></td>
		<td><%= list.identifier %></td>
		<td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>
	
<br>

<%= link_to 'Add item', new_list_path, class: "btn btn-primary btn-sm" %>
