<div class="row">
	<div class="col-sm-2">
		<h3 class="text-muted">
			Shopping list:
		</h3>
	</div>
	<div class-"form-inline" role="form">
		<%= form_tag(@list, method: "get", ) do %>
		<div class="form-group">
			<div class="col-sm-4">
				<div class="input-group">
					<%= text_field_tag :search, params[:search], autofocus: true, placeholder: "item name", class: "form-control" %>
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-search"></i>
					</span>
				</div>				
			</div>
		</div>                  
		<div class="form-group">
			<%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
		</div>
		<% end %>
	</div>	
</div>	
<h4 class="text-info">
	Wish list items:
</h4>
<% if @unbasketedlists.blank? %>
<p>
	There are no items in the list.
</p>
<% else %>
<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Unit</th>
		<th>Quantity</th>
		<th>Price</th>
		<!-- <th>List type</th> -->
		<th>Item category</th>
		<th>Store</th>
		<!-- <th>Brand</th> -->
		<!-- <th>Identifier</th> -->
		<th>Action</th>
	</tr>
	<% totalprice = 0.00 %>
	<% @unbasketedlists.each do |list| %>
	<tr>
		<td><%= link_to list.name, edit_list_path(list), class: "link" %></td>
		<td><%= list.unit.name %></td>
		<td><%= list.quantity %></td>
		<td>
			<% if list.price.nil? %>
			<span class="badge">?</span>
			<% else %>
			<%= list.price %>
			<% end %>
		</td>
		<!-- <td><%#= list.list_type.name %></td> -->
		<td><%= list.item_category.name %></td>
		<td><%= list.store.name %></td>
		<!-- <td><%#= list.brand.name %></td> -->
		<!-- <td><%#= list.identifier %></td> -->
		<td>
			<%= link_to 'Basket', list_putinbasket_path(list), class: "btn btn-info btn-xs" %>
			<%= link_to 'Delete', list, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
		</td>
	</tr>
	<% totalprice = totalprice + list.price.to_f %>
	<% end %>
	<tr>
		<td></td>
		<td></td>
		<td><strong>Total</strong></td>
		<td><strong><%= totalprice.to_f %></strong></td>
	</tr>
</table>

<% end %>
<%= link_to 'Add item', new_list_path, class: "btn btn-primary btn-sm" %>
<h4 class="text-success">
	In basket items:
</h4>
<% if @basketedlists.blank? %>
<p>
	There are no items in the basket.
</p>
<% else %>
<table class="table table-responsive table-striped">
	<tr>
		<th>Name</th>
		<th>Unit</th>
		<th>Quantity</th>
		<th>Price</th>
		<!-- <th>List type</th> -->
		<th>Item category</th>
		<th>Store</th>
		<!-- <th>Brand</th> -->
		<!-- <th>Identifier</th> -->
		<th>Action</th>
	</tr>
	<% totalprice = 0.00 %>
	<% @basketedlists.each do |list| %>
	<tr>
		<td><%= link_to list.name, edit_list_path(list), class: "link" %></td>
		<td><%= list.unit.name %></td>
		<td><%= list.quantity %></td>
		<td>
			<% if list.price.nil? %>
			<span class="badge">?</span>
			<% else %>
			<%= list.price %>
			<% end %>
		</td>
		<!-- <td><%#= list.list_type.name %></td> -->
		<td><%= list.item_category.name %></td>
		<td><%= list.store.name %></td>
		<!-- <td><%#= list.brand.name %></td> -->
		<!-- <td><%#= list.identifier %></td> -->
		<td>
			<%= link_to 'Pay', list_pay_path(list), data: {confirm: "Are you sure?"}, class: "btn btn-success btn-xs" %>
			<%= link_to 'Unbasket', list_takeoutofbasket_path(list), class: "btn btn-warning btn-xs" %>
		</td>
	</tr>
	<% totalprice = totalprice + list.price.to_f %>
	<% end %>
	<tr>
		<td></td>
		<td></td>
		<td><strong>Total</strong></td>
		<td><strong><%= totalprice.to_f %></strong></td>
	</tr>
</table>
<% end %>
<%#= link_to "Cancel", root_path, class: "btn btn-warning btn-sm"%>