<h3 class="text-muted">
	<%= @task.name.titleize %>
	<% if @task.complete == false %>
	<%= link_to glyph("ok-sign"), task_complete_path(@task), data: {confirm: "are you sure?"}, class: "btn btn-success btn-lg" %>
	<% end %>
</h3>
<dl class="dl-horizontal">
	<dt>Target Date</dt>
	<dd><%= @task.target_date.strftime("%d-%h-%Y") %></dd>
	<dt>Details</dt>
	<dd><%= @task.detail %></dd>
</dl>
<h4 class="text-info">
	Needed material:
</h4>
<% if @materials.blank? %>
<p>There are no required materials listed yet.</p>
<% else %>
<table class="table table-responsive table-striped">
	<tr>
		<th>Item</th>
		<th>Brand</th>
		<th>Status</th>
		<th>Price</th>
		<th>Actions</th>
	</tr>
	<% @materials.each do |item| %>
	<tr>
		<td>
			<%= item.name.titleize %>
		</td>
		<td><%= item.brand.name.titleize %></td>
		<td>
			<% if item.inbasket %>
			In basket
			<!-- <i class="text-success glyphicon glyphicon-lock"></i> -->
			<% elsif item.complete %>
			Purchased
			<!-- <i class="text-success glyphicon glyphicon-ok"></i>			 -->
			<% else %>
			In wish list
			<!-- <i class="text-success glyphicon glyphicon-list"></i> -->
			<% end %>
		</td>
		<td><%= number_with_precision(item.price, precision: 2) %></td>
		<td>
			<% if item.complete %>
			<%= link_to 'Show', list_item_path(item), class: "btn btn-info btn-sm" %>	
			<% else %>
			<%= link_to glyph("pencil"), edit_list_item_path(item), class: "btn btn-default" %>	
			<%= link_to glyph("remove-sign"), item, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>	
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
<% end %>
<% if @task.complete == false %>
<p>
	<%= link_to glyph("plus-sign"), new_list_item_path(task_id: @task.id), class: "btn btn-success" %>
</p>
<% end %>
<h4 class="text-success">
	Needed labor:
</h4>
<% if @task_contractors.blank? %>
<p>There are no required labor listed yet.</p>
<% else %>
<table class="table table-responsive table-striped">
	<tr>
		<th>Item</th>
		<th>Phone</th>
		<th>Job detail</th>
		<th>Price</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
	<% @task_contractors.each do |task_contractor| %>
	<tr>
		<!-- <td><%#= link_to rental.contractor.name.titleize, edit_contractor_path(rental.contractor_id) %></td> -->
		<td>
			<%= task_contractor.contractor.name.titleize %>
		</td>
		<td><%= task_contractor.contractor.phone %></td>
		<td><%= task_contractor.job_detail %></td>
		<td>
			<%= number_with_precision(task_contractor.price, precision: 2) %>
		</td>
		<td>
			<% if task_contractor.complete %>
			Complete
			<!-- <i class="text-success glyphicon glyphicon-ok"></i> -->
			<% else %>
			Incomplete
			<% end %>
		</td>
		<td>
			<% if task_contractor.complete %>
			<%= link_to 'Show', task_contractor_path(task_contractor), class: "btn btn-info btn-sm" %>	
			<% else %>
			<%= link_to glyph("pencil"), edit_task_contractor_path(task_contractor), class: "btn btn-default" %>	
			<%= link_to glyph("ok-sign"), task_contractor_complete_path(task_contractor), data: {confirm: "are you sure?"}, class: "btn btn-success" %>	
			<%= link_to glyph("remove-sign"), task_contractor, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>	
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
<% end %>
<% if @task.complete == false %>
<p>
	<%= link_to glyph("plus-sign"), new_task_contractor_path(task_id: @task.id), class: "btn btn-success" %>
</p>
<% end %>
<h4 class="text-warning">
	Needed equipment[rental]:
</h4>
<% if @rentals.blank? %>
<p>There are no required rental equipment listed yet.</p>
<% else %>
<table class="table table-responsive table-striped">
	<tr>
		<th>Item</th>
		<th>Store</th>
		<th>Price</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
	<% @rentals.each do |rental| %>
	<tr>
		<!-- <td><%#= link_to rental.contractor.name.titleize, edit_contractor_path(rental.contractor_id) %></td> -->
		<td>
			<%= rental.name.titleize %>
		</td>
		<td>
			<%= rental.store.name.titleize %>
		</td>
		<td>
			<%= number_with_precision(rental.price, precision: 2) %>
		</td>
		<td>
			<% if rental.complete %>
			Complete
			<!-- <i class="text-success glyphicon glyphicon-ok"></i> -->
			<% else %>
			Incomplete
			<% end %>
		</td>
		<td>
			<% if rental.complete %>
			<%= link_to 'Show', rental_path(rental), class: "btn btn-info btn-sm" %>	
			<% else %>
			<%= link_to glyph("pencil"), edit_rental_path(rental), class: "btn btn-default" %>	
			<%= link_to glyph("ok-sign"), rental_complete_path(rental), data: {confirm: "are you sure?"}, class: "btn btn-success" %>
			<%= link_to glyph("remove-sign"), rental, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>	
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
<% end %>
<% if !@task.complete %>
<p>
	<%= link_to glyph("plus-sign"), new_rental_path(task_id: @task.id), class: "btn btn-success" %>
</p>
<% end %>
