<h3 class="text-muted">
	<%= @task.name.titleize %>
</h3>
<dl class="dl-horizontal">
	<dt>Target Date</dt>
	<dd><%= @task.target_date.strftime("%d-%h-%Y") %></dd>
	<dt>Details</dt>
	<dd><%= @task.detail %></dd>
</dl>
<h4 class="text-info">
	Needed material:
</h4>
<% if @materials.blank? %>
<p>There are no required materials listed yet.</p>
<% else %>
<table class="table table-responsive table-striped">
	<tr>
		<th>Item</th>
		<th>Brand</th>
		<th>Status</th>
		<th>Price</th>
		<th>Actions</th>
	</tr>
	<% @materials.each do |item| %>
	<tr>
		<td>
			<%= item.name.titleize %>
		</td>
		<td><%= item.brand.name.titleize %></td>
		<td>
			<% if item.inbasket %>
			In basket
			<i class="text-success glyphicon glyphicon-lock"></i>
			<% elsif item.complete %>
			Purchased
<i class="text-success glyphicon glyphicon-ok"></i>			
			<% else %>
			In wish list
			<i class="text-success glyphicon glyphicon-list"></i>
			<% end %>
		</td>
		<td><%= item.price %></td>
    <td>
			<%= link_to 'Edit', edit_list_item_path(item), class: "btn btn-default btn-xs" %>	
			<%= link_to 'Delete', item, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>	
		</td>
</tr>
  <% end %>
</table>
<% end %>

<p>
	<%= link_to "Add item", new_list_item_path(task_id: @task.id), class: "btn btn-primary btn-sm" %>
	<%= link_to "Cancel", tasks_path, class: "btn btn-warning btn-sm" %>
</p>

<h4 class="text-info">
	Needed labor:
</h4>
<% if @task_vendors.blank? %>
<p>There are no required labor listed yet.</p>
<% else %>
<table class="table table-responsive table-striped">
	<tr>
		<th>Item</th>
		<th>Phone</th>
		<th>Job detail</th>
		<th>Price</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
	<% @task_vendors.each do |task_vendor| %>
	<tr>
		<!-- <td><%#= link_to task_vendor.vendor.name.titleize, edit_vendor_path(task_vendor.vendor_id) %></td> -->
		<td>
			<%= task_vendor.vendor.name.titleize %>
		</td>
		<td><%= task_vendor.vendor.phone %></td>
		<td><%= task_vendor.job_detail %></td>
		<td>
			<%= task_vendor.price %>
		</td>
		<td>
			<% if task_vendor.complete %>
			Complete
			<i class="text-success glyphicon glyphicon-ok"></i>
			<% else %>
			Incomplete
			<% end %>
		</td>
    <td>
			<% if task_vendor.complete %>
			<%= link_to 'Show', task_vendor_path(task_vendor), class: "btn btn-info btn-xs" %>	
			<% else %>
			<%= link_to 'Edit', edit_task_vendor_path(task_vendor), class: "btn btn-default btn-xs" %>	
			<%= link_to 'Complete', task_vendor_complete_path(task_vendor), class: "btn btn-success btn-xs" %>	
			<%= link_to 'Delete', task_vendor, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>	
			<% end %>
		</td>
</tr>
  <% end %>
</table>
<% end %>

<p>
	<%= link_to "Add item", new_task_vendor_path(task_id: @task.id), class: "btn btn-primary btn-sm" %>
	<%= link_to "Cancel", tasks_path, class: "btn btn-warning btn-sm" %>
</p>