<div class="row">
	<div class="col-sm-2">
		<h3 class="text-muted">
			Stores:
		</h3>
		
	</div>
	<div class-"form-inline" role="form">
		<%= form_tag(@store, method: "get", ) do %>
		<div class="form-group">
			<div class="col-sm-3">
				<%= text_field_tag :search, params[:search], autofocus: true, placeholder: "store name", class: "form-control" %>
			</div>
				
		</div>
		<div class="form-group">
			<%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
		</div>
		<% end %>
	</div>		
</div>
	
<table class="table table-striped">
	<% @stores.each do |store| %>
	<tr>
		<td>
			<%= store.name.titleize %>
		</td>
	</tr>
	<% end %>
</table>
<%= link_to 'Add store', new_store_path, class: "btn btn-primary btn-sm" %>
