<h3 class="text-muted">
	<%= @task_vendor.task.name.titleize%>
</h3>
<dl class="dl-horizontal">
	<dt>Vendor</dt>
	<dd><%= @task_vendor.vendor.name.titleize %>
	<dt>Phone</dt>
	<dd><%= @task_vendor.vendor.phone %>
	<dt>Job detail</dt>
	<dd><%= @task_vendor.job_detail %>
	<dt>Price</dt>
	<dd><%= @task_vendor.price %>
</dl>
<%= link_to "Back", task_path(@task_vendor.task_id), class: "btn btn-warning btn-sm" %>