<% if user_signed_in? %>
<!-- ********** SHOPPING ************ -->
<div class="col-sm-4">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				<%= link_to "Shopping", list_items_path, class: "link"%>
			</h3>
		</div>
		<div class="panel-body">
			<p>
				<%= "Wishlist: #{@totalwishlistitems}" %>
			</p>
		</div>
	</div>
</div>
<!-- ********** TASKS ************ -->
<div class="col-sm-4">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">
				<%= link_to "Tasks", tasks_path, class: "link"%>
			</h3>
		</div>
		<div class="panel-body">
			<p>
				<%= "Tasks: #{@totalincompletetaskitems}" %>
			</p>
		</div>
	</div>
</div>
<!-- ********** REPORTS ************ -->
<div class="col-sm-4">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">
				<%= link_to "Reports", reports_path, class: "link"%>
			</h3>
		</div>
		<div class="panel-body">
			<p>
				<%= "Purchases: #{@totalspendingpurchases}" %>
			</p>
		</div>
	</div>
</div>
<!-- ********** SPENDING ON LABOR ************ -->
<!-- ********** SPENDING ON MATERIAL ************ -->

<% else %>
<div class="jumbotron">
	<h1>
		Lets do it!
	</h1>
	<p>
		<%= link_to "Signin", new_user_session_path, class: "btn btn-primary btn-lg" %>
	</p>
		<p>
			Have not signed up as yet, 
		<%= link_to "Signup", new_user_registration_path, class: "link" %>
	</p>
</div>
<% end %>