<% if user_signed_in? %>
<div class="row jumbotron text-muted text-center">
	<p class="text-info">
		<strong>Welcome <%= current_user.full_name %></strong>
	</p>
	<div class=col-sm-4>
			<p><strong>Shopping</strong></p>
			<p class="badge"><%= "Items in wishlist: #{@totalwishlistitems}" %></p>
			<%= link_to image_tag("shopping-guy.jpg", class: "img-responsive img-circle", alt: "shopping-guy.jpg"), list_items_path %>
	</div>
	<div class=col-sm-4>
		<p>
			<strong>Tasks</strong>
		</p>
		<%= link_to image_tag("todolist.png", class: "img-responsive img-circle", alt: "todolist.png"), tasks_path %>
	</div>
	<div class=col-sm-4>
			<p><strong>History</strong></p>
			<p class="badge"><%= "Spending in last 30 days: #{@totalspending}" %></p>
			<%= link_to image_tag("history.jpg", class: "img-responsive img-circle", alt: "history.jpg"), last30days_path %>
	</div>	
</div>
<% else %>
<div class="jumbotron text-muted text-center">
	<div class="row">
	<p>
		Never let your honey forget about the things that are important
	</p>
	<div class=col-sm-4>
		<p>
			Shopping
		</p>
		<%= link_to image_tag("shopping-guy.jpg", class: "img-responsive img-circle", alt: "shopping-guy.jpg"), list_items_path %>
	</div>
	<div class=col-sm-4>
		<p>
			Tasks
		</p>
		<%= link_to image_tag("todolist.png", class: "img-responsive img-rounded", alt: "todolist.png"), tasks_path %>
	</div>
	<div class=col-sm-4>
		<p>
			History
		</p>
		<%= link_to image_tag("history.jpg", class: "img-responsive img-circle", alt: "history.jpg"), last30days_path %>
	</div>
</div>
	<div class="row lead">
		<%= link_to "Signin", new_user_session_path, class: "btn btn-primary btn-lg" %>
		Have not signed up as yet, 
		<%= link_to "Signup", new_user_registration_path, class: "link" %>
	</div>	
</div>
<% end %>