<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @rental.task.name %>
</p>

<p>
  <strong>Store:</strong>
  <%= @rental.store.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rental.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rental.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rental.price %>
</p>

<%= link_to 'Back', task_path(@rental.task_id) %>
