<div class="form-horizontal" role="form">
	<%= form_for(@contact) do |f| %>
	<% if @contact.errors.any? %>
	<div class="alert alert-danger">
		<h4><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h4>
		<ul>
			<% @contact.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	
			<%= f.hidden_field :user_id, class: "form-control" %>
			
	<div class="form-group">
		<div class="col-sm-2 control-label">
			<%= f.label :ContactReason_id %>
		</div>
		<div class="col-sm-4">
			<%= f.collection_select(:ContactReason_id, ContactReason.all, :id, :name, {prompt: "select an option"}, {class: "form-control"}) %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2 control-label">
			<%= f.label "subject" %>
		</div>
		<div class="col-sm-4">
			<%= f.text_field :title, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2 control-label">
			<%= f.label :details %>
		</div>
		<div class="col-sm-4">
			<%= f.text_area :details, rows: 6, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit "submit", class: "btn btn-primary" %>
			<%= link_to "Cancel", root_path, class: "btn btn-warning"%>
		</div>
	</div>
	<% end %>	
</div>