<p id="notice"><%= notice %></p>

<p>
  <strong>Contactreason:</strong>
  <%= @contact.ContactReason %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @contact.details %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
