<div class="form-horizontal" role="form">
	<%= form_for(@contact_reason) do |f| %>
  <% if @contact_reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_reason.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @contact_reason.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="form-group">
		<div class="col-sm-2 form-label">
			<%= f.label :name %><br>
		</div>
		<div class="col-sm-4">
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit "Submit", class: "btn btn-primary" %>
			<%= link_to "Cancel", root_path, class: "btn btn-warning"%>
		</div>
	</div>
	<% end %>	
</div>