<h3 class="text-muted">
	<%= @list_item.task.name.capitalize %>:
</h3>
<dl class="dl-horizontal">
	<dt>Name</dt>
	<dd><%= @list_item.name.capitalize %></dd>
	<dt>Category</dt>
	<dd><%= @list_item.item_category.name.capitalize %></dd>
	<dt>Store</dt>
	<dd><%= @list_item.store.name.capitalize %></dd>
	<dt>Brand</dt>
	<dd><%= @list_item.brand.name.capitalize %></dd>
	<dt>Unit</dt>
	<dd><%= @list_item.unit.name.capitalize %></dd>
	<dt>Quantity</dt>
	<dd><%= @list_item.quantity %></dd>
	<dt>Total Price</dt>
	<dd><%= @list_item.price %></dd>
</dl>
<%= link_to 'Back', task_path(@list_item.task_id) , class: "btn btn-warning btn-sm" %>
