<div class="form-horizontal" role="form">
	<%= form_for(@product) do |f| %>
	<% if @product.errors.any? %>
	<div class="alert alert-danger">
		<h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>
		<ul>
			<% @product.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="form-group">
		<div class="col-sm-2 form-label">
			<%= f.label 'Universal Product Code[UPC]' %>
		</div>
		<div class="col-sm-4">
			<%= f.text_field :identifier, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit "Submit", class: "btn btn-primary" %>
			<%= link_to "Cancel", products_path, class: "btn btn-warning"%>
		</div>
	</div>
	<% end %>
</div>