<!DOCTYPE html>
<html lang="en">
<head>
	<%= render partial: "layouts/head" %>
</head>
<body>
	<header>
		<%= render partial: "layouts/header" %>
	</header>
	<div class="container">
		<div class="row">
			<div class"col-sm-12">
				<%= bootstrap_flash %>
				<%= yield %>
			</div><!-- span-->				
		</div><!--/row-->
		<footer class="footer">
			<%= render partial: "layouts/footer" %>
		</footer>
	</div>
</body>
</html>